<!DOCTYPE html>
<html>
<head>
    {% include "util/style.html" %}
    <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>任务依赖</legend>
    </fieldset>
    <!-- 矢量图 -->
    <div class="svg-div" id="svg-div"></div>
</div>
<script>
    window.interface_id = {{ interface_id }};
</script>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/interface/interface_detail.js"></script>
</body>
</html>