<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>新增任务流</title>
    <link rel="stylesheet" href="/static/css/layui-formSelects.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>新增任务流</legend>
    </fieldset>
    <form class="layui-form" lay-filter="interface_detail">
        <div class="layui-form-item">
            <label class="layui-form-label">任务流名称<span style="color:red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="interface_name" lay-verify="required" placeholder="任务流名称">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务流描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="interface_desc" placeholder="任务流描述"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务流目录<span style="color:red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="interface_index" placeholder="任务流目录"
                       lay-verify="index_verify" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据日期</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="run_time" placeholder="数据日期" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">前置任务流</label>
            <div class="layui-input-block" style="width: 600px;">
                <select name="parent_interface" xm-select="parent_interface" xm-select-search=""
                        xm-select-height="36px"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重试次数<span style="color:red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="retry" lay-verify="number|retry" placeholder="必须为1-10的整数">
            </div>
        </div>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <button lay-submit class="layui-btn" lay-filter="interface-save" type="button">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">清空</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/layui-formSelects.js"></script>
<script type="text/javascript" src="/static/js/interface/interface_add.js"></script>
</body>
</html>