<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>修改接口</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>修改接口</legend>
    </fieldset>
    <form class="layui-form" lay-filter="interface_detail">
        <div class="layui-form-item">
            <label class="layui-form-label">接口名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="interface_name" lay-verify="required" placeholder="接口名称"
                       autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">接口描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="interface_desc" placeholder="接口描述"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重试次数</label>
            <div class="layui-input-inline">
                <input type="number" class="layui-input" name="retry" lay-verify="required|number" placeholder="重试次数"
                       autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否失效</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_deleted" lay-skin="switch" placeholder="是否失效" lay-text="是|否" value="1">
            </div>
        </div>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <button lay-submit class="layui-btn" lay-filter="interface-save" type="button">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">清空</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script>
    window.interface_id = {{ interface_id }};
</script>
<script type="text/javascript" src="/static/js/interface/interface_update.js"></script>
</body>
</html>