<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>任务流详情</title>
    <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>任务流详情</legend>
    </fieldset>
    <div class="layui-tab layui-tab-brief" lay-filter="detail-tab">
        <ul class="layui-tab-title">
            <li class="layui-this" data-load="1">任务依赖</li>
            <li data-load="0">局部-任务流依赖</li>
            <li data-load="0">全局-任务流依赖</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!-- 任务依赖矢量图 -->
                <div class="svg-div" id="svg-div"></div>
            </div>
            <div class="layui-tab-item">
                <!-- 局部-任务流依赖 -->
                <div class="svg-div" id="local-graph"></div>
            </div>
            <div class="layui-tab-item">
                <!-- 全局-任务流依赖 -->
                <div class="svg-div" id="global-graph"></div>
            </div>
        </div>
    </div>
</div>
<script>
    window.interface_id = {{ interface_id }};
</script>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/interface/interface_detail.js"></script>
</body>
</html>