<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>新增任务流</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>新增任务流</legend>
    </fieldset>
    <form class="layui-form" lay-filter="interface_detail">
        <div class="layui-form-item">
            <label class="layui-form-label">任务流名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="interface_name" lay-verify="required" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务流描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="interface_desc"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务流目录</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="interface_index" placeholder="任务流目录" lay-verify="index_verify" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重试次数</label>
            <div class="layui-input-inline">
                <input type="number" class="layui-input" name="retry" lay-verify="required|number" autocomplete="off">
            </div>
        </div>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <button lay-submit class="layui-btn" lay-filter="interface-save" type="button">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">清空</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/interface/interface_add.js"></script>
</body>
</html>