<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>新增执行服务器</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field layui-field-title">
        <legend>新增执行服务器</legend>
    </fieldset>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">服务器IP</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="server_host" lay-verify="required" placeholder="服务器IP"
                       autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器名称</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="server_name" lay-verify="required" placeholder="服务器名称"
                       autocomplete="off">
            </div>
        </div>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <button lay-submit class="layui-btn layui-btn-normal" lay-filter="exec-host-test" type="button">测试
                </button>
                <button lay-submit class="layui-btn" lay-filter="exec-host-save" type="button">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary">清空</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/base/exec_host_add.js"></script>
</body>
</html>