<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>修改任务</title>
    <link rel="stylesheet" href="/static/css/layui-formSelects.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field layui-field-title">
        <legend>修改任务</legend>
    </fieldset>
    <form class="layui-form" lay-filter="job_detail">
        <div class="layui-form-item">
            <label class="layui-form-label">所属任务流</label>
            <div class="layui-input-inline">
                <select name="interface_id" lay-filter="interface_id"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务名称<span style="color:red">*</span></label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="job_name" lay-verify="required" placeholder="任务名称"
                       autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务描述</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="job_desc" placeholder="任务描述"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务目录<span style="color:red">*</span></label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="job_index" lay-verify="index_verify" placeholder="任务目录">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器名称</label>
            <div class="layui-input-inline">
                <select name="server_id" lay-filter="server_id"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">脚本目录</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="server_dir" placeholder="服务器目录" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">脚本命令<span style="color:red">*</span></label>
            <div class="layui-input-block">
                    <textarea class="layui-textarea" name="server_script" lay-verify="required"
                              placeholder="脚本命令"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">执行成功返回码</label>
            <div class="layui-input-block">
                <input type="number" class="layui-input" name="return_code" placeholder="执行成功返回码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">依赖任务</label>
            <div class="layui-input-block" style="width: 600px;">
                <select name="job_prep" xm-select="job_prep" xm-select-search="" xm-select-height="36px"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务参数</label>
            <div class="layui-input-block" style="width: 600px;">
                <select name="job_params" xm-select="job_params" xm-select-search="" xm-select-height="36px"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否失效</label>
            <div class="layui-input-block">
                <input type="checkbox" name="is_deleted" lay-skin="switch" placeholder="是否失效" lay-text="是|否" value="1">
            </div>
        </div>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <button lay-submit class="layui-btn" lay-filter="job-save" type="button">保存</button>
            </div>
        </div>
    </form>
</div>

<script>
    window.job_id = {{ job_id }};
</script>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/layui-formSelects.js"></script>
<script type="text/javascript" src="/static/js/job/job_update.js"></script>
</body>
</html>