<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>任务详情</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field layui-field-title">
        <legend>任务详情</legend>
    </fieldset>
    <div id="job-detail"></div>
</div>

<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script>
    window.job_id = {{ job_id }};
</script>
<script type="text/javascript" src="/static/js/job/job_detail.js"></script>
</body>
</html>
