<div class="layui-header">
     <div class="layui-logo">
         <div class="navbar-first">HCNDC</div>
         <div class="navbar-second">高并发网状调度中心</div>
     </div>
     <ul class="layui-nav layui-layout-left">
{#         <li class="layui-nav-item"><a href="/index/">任务总览</a></li>#}
{#         <li class="layui-nav-item"><a href="/dispatch/">调度总览</a></li>#}
{#         <li class="layui-nav-item"><a href="/base/">基础配置</a></li>#}
     </ul>
     <ul class="layui-nav layui-layout-right">
         <li class="layui-nav-item" id="user-info"></li>
     </ul>
</div>