<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>参数列表</title>
    <style>
        .site-tree {
            position: fixed;
            width: 220px;
        }
        .site-content {
            margin-left: 220px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 水平导航 -->
    {% include "util/navbar.html" %}
    <!-- 侧边栏 -->
    {% include "util/tree.html" %}
    <!-- 内容主体区域 -->
    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>参数列表</legend>
        </fieldset>
        <fieldset class="layui-elem-field layui-field-title">
        </fieldset>
        <!-- 左侧树形菜单 -->
        <div class="site-tree" style="border: 1px solid #ddd;overflow-x: scroll;overflow-y: hidden;">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="add_params_index">
                <i class="layui-icon">&#xe654;</i>新增参数菜单
            </button>
            <ul id="param_index_tree"></ul>
        </div>
        <div class="site-content">
            <!-- 参数列表 -->
            <div id="params-list" lay-filter="params-list"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/params/params_list.js"></script>
</body>
</html>