<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <script type="text/javascript" src="/static/echarts/echarts.min.js"></script>
    <title>执行详情</title>
    <style>
        .layui-table-cell {
            height: auto;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field layui-field-title">
        <legend>执行详情</legend>
    </fieldset>
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">任务拓扑</li>
            <li>任务列表</li>
            <li>运行日志</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!-- 矢量图 -->
                <div class="svg-div" id="svg-div"></div>
            </div>
            <div class="layui-tab-item">
                <!-- 执行详情表 -->
                <div id="exec-detail" lay-filter="exec-detail"></div>
            </div>
            <div class="layui-tab-item">
                <!-- 执行日志 -->
                <div id="exec-log" lay-filter="exec-log"></div>
            </div>
        </div>
    </div>
</div>
<script>
    window.exec_id = {{ exec_id }};
</script>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/execute/execute_detail.js"></script>
</body>
</html>