<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>执行列表</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 水平导航 -->
    {% include "util/navbar.html" %}
    <!-- 侧边栏 -->
    {% include "util/tree.html" %}
    <!-- 内容主体区域 -->
    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>执行列表</legend>
        </fieldset>
        <fieldset class="layui-elem-field layui-field-title">
        </fieldset>
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">任务流ID</label>
                    <div class="layui-input-inline">
                        <label>
                            <select name="interface_id" lay-verify="required"></select>
                        </label>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">运行时间</label>
                    <div class="layui-input-inline" style="width: 300px">
                        <input type="text" class="layui-input" name="run_date" placeholder=" - " autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">运行状态</label>
                    <div class="layui-input-inline">
                        <label>
                            <select name="run_status" lay-verify="required">
                                <option value="0">全部</option>
                                <option value="1">成功</option>
                                <option value="2">运行中</option>
                                <option value="3">中断</option>
                                <option value="4">失败</option>
                                <option value="5">就绪</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">执行类型</label>
                    <div class="layui-input-inline">
                        <label>
                            <select name="exec_type" lay-verify="required">
                                <option value="0">全部</option>
                                <option value="1">调度</option>
                                <option value="2">手动</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button lay-submit class="layui-btn" lay-filter="execute-search" type="button">
                            <i class="layui-icon layui-icon-search icon-size">搜索</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- 执行列表 -->
        <div id="execute-list" lay-filter="execute-list"></div>
    </div>
</div>

<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/execute/execute_list.js"></script>
</body>
</html>