<!DOCTYPE html>
<html lang="en">
<head>
    {% include "util/style.html" %}
    <title>执行日志</title>
    <style>
        .layui-table-cell {
            height: auto;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <fieldset class="layui-elem-field layui-field-title">
        <legend>执行日志</legend>
    </fieldset>
    <div style="margin: 0 20px 0 20px">
        <span class="layui-breadcrumb">
            <a href="/execute/flow/detail/{{ exec_id }}/">返回上一级</a>
            <a><cite>执行日志</cite></a>
        </span>
        <!-- 任务执行日志 -->
        <div class="exec-log-div">
            <div id="exec-job-log" lay-filter="exec-job-log"></div>
        </div>
    </div>
</div>
<script>
    window.exec_id = {{ exec_id }};
    window.job_id = {{ job_id }};
</script>
<script type="text/javascript" src="/static/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/js/execute/execute_job_log.js"></script>
</body>
</html>